# Assignment 18

Data Science Masters

# Problem Statement 1:

Is gender independent of education level? A random sample of 395 people were
surveyed and each person was asked to report the highest education level they
obtained. The data that resulted from the survey is summarized in the following table:
        High School Bachelors Masters Ph.d. Total
Female       60          54        46      41    201
Male         40          44        53      57    194
Total        100         98        99      98    395

Question: Are gender and education level dependent at 5% level of significance? In
other words, given the data collected above, is there a relationship between the gender
of an individual and the level of education that they have obtained?

In [4]:
# Two series created for female and male education to check the dependence
female = [60, 54, 46, 41]
male = [40, 44, 53, 57]

Lets define the Hypothesis

Ho : There is no assoiation between Gender and Level of Education

H1 : Level of Education is dependent on Gender

Perform the chisquare test. We get chisquare test statistic and p-value

Check for p-value <= 0.05 level of significance depending on which we reject the Null hypothesis

Check for p-value > 0.05 level of significance depending on which we accept the Null hypothesis

In [17]:
# load required packages
import numpy as np
import scipy.stats as stats
import pandas as pd

In [8]:
# Chi-squared Test
stats.chisquare(female,male)

Power_divergenceResult(statistic=17.688483644789503, pvalue=0.0005099468162445207)

Since pvalue is less than 0.05, we reject the null hypothesis that there is no association between 'Gender' and 'Level of Education' Therefore, education level depends on the Gender at 5% level of significance

# Problem Statement 2:

Using the following data, perform a oneway analysis of variance using α=.05. Write up
the results in APA format.
[Group1: 51, 45, 33, 45, 67]
[Group2: 23, 43, 23, 43, 45]
[Group3: 56, 76, 74, 87, 56]

In [12]:
# Create the three series
g1 = [51, 45, 33, 45, 67]
g2 = [23, 43, 23, 43, 45]
g3 = [56, 76, 74, 87, 56]

In [14]:
# The ANOVA test has important assumptions that must be satisfied in order for the associated p-value to be valid.

#     The samples are independent.
#     Each sample is from a normally distributed population.
#     The population standard deviations of the groups are all equal. This property is known as homoscedasticity.

# to check this we create data frame from the above three series and check the statistics

In [21]:
df = pd.DataFrame({"Group1":g1, "Group2":g2, "Group3":g3})
df.describe()

          Group1     Group2     Group3
count   5.000000   5.000000   5.000000
mean   48.200000  35.400000  69.800000
std    12.377399  11.349009  13.535139
min    33.000000  23.000000  56.000000
25%    45.000000  23.000000  56.000000
50%    45.000000  43.000000  74.000000
75%    51.000000  43.000000  76.000000
max    67.000000  45.000000  87.000000

In [22]:
# Since their standard deviations are close to each other. We can use One-Way ANOVA test
# Ho : There is no significant difference between means of three groups

In [23]:
# One-Way ANOVA Test
stats.f_oneway(g1, g2, g3)

F_onewayResult(statistic=9.747205503009463, pvalue=0.0030597541434430556)

Since pvalue is less than 0.05 (α=.05), The differences between the means are statistically significant.
Therefore, we reject the null hypothesis

# Problem Statement 3.

Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25.
For 10, 20, 30, 40, 50

In [24]:
g1 = [10, 20, 30, 40, 50 ]
g2 = [5, 10, 15, 20, 25 ]

# F Test is ratio of the variances of the given two set of values
s1 = pd.Series(g1)
s2 = pd.Series(g2)

# F Test
f = s1.var()/s2.var()
f

4.0